.landingPage {
  background-color: #ffffff;
  background-size: cover;
}
.opening-page-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto';
}
.request-brochure {
  background: linear-gradient(180deg, #58d69d 0%, #13bfab 100%);
  border-radius: 3px;
  height: 50px;
  width: 300px;
  border-width: 0px;
  border-style: solid;
  color: #ffffff;
  font-family: 'Roboto';
  margin-bottom: 50px;
}
.under-Request-brochure {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 25x;
}
.course-details-container {
  background-color: #f4f4f4;
  width: 399px;
  height: 104px;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin-bottom: 20px;
}
.banjour-image {
  width: 500px;
}
.black-container {
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  color: #ffffff;
}
.bg-container {
  background-color: #ffffff;
  height: 70vh;
  width: 100vw;
}
.language-stages {
  font-size: 50px;
  font-family: 'Roboto';
}
